
<div class="row">
  <div class="col-2 d-flex flex-column align-items-center justify-content-center"
       style="background-color: #DADADA;">
    <strong class="h1 mt-2">
      {{ article.votes }}
    </strong>
    <small class="text-uppercase font-weight-bold mt-n3 mb-2">
      Points
    </small>
  </div>
  <div class="col-10 d-flex flex-column justify-content-between">
    <div class="d-flex flex-column">
      <a href="{{ article.link }}">
          <strong class="text-dark" style="font-size: 1.5em;">
            {{ article.title }}
          </strong>
      </a>
      <small class="text-muted mt-n2">
        ({{ article.domain() }})
      </small>
    </div>

    <div class="p-2"></div>
    
    <div class="d-flex">
      <a class="px-2" href (click)="voteUp()">&#11014;upvote</a>
      <a class="px-2" href (click)="voteDown()">&#11015;downvote</a>
    </div>
  </div>
</div>



